In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('clean_weekly_sales.csv')
data.head()

,week_date,date_format,segment,day_number,month_number,year_number,age_band,demographic,transactions,sales,region,avg_transaction,platform,week_day,week_number
0,31/8/20,2020-08-31,C3,31,8,20,Retirees,Couples,120631,3656163,ASIA,30,Retail,Monday,35
1,31/8/20,2020-08-31,F1,31,8,20,Young Adults,Families,31574,996575,ASIA,32,Retail,Monday,35
2,31/8/20,2020-08-31,NaN,31,8,20,Unknown,Unknown,529151,16509610,USA,31,Retail,Monday,35
3,31/8/20,2020-08-31,C1,31,8,20,Young Adults,Couples,4517,141942,EUROPE,31,Retail,Monday,35
4,31/8/20,2020-08-31,C2,31,8,20,Middle Aged,Couples,58046,1758388,AFRICA,30,Retail,Monday,35

In [4]:
data.shape

(17117, 15)

In [3]:
data.columns

Index(['week_date', 'date_format', 'segment', 'day_number', 'month_number',
       'year_number', 'age_band', 'demographic', 'transactions', 'sales',
       'region', 'avg_transaction', 'platform', 'week_day', 'week_number'],
      dtype='object')

In [4]:
data.dtypes

week_date          object
date_format        object
segment            object
day_number          int64
month_number        int64
year_number         int64
age_band           object
demographic        object
transactions        int64
sales               int64
region             object
avg_transaction     int64
platform           object
week_day           object
week_number         int64
dtype: object

In [5]:
data['platform'].value_counts()

Retail     8568
Shopify    8549
Name: platform, dtype: int64

In [8]:
Platform = data.pivot_table(index='year_number', columns='platform', values='avg_transaction', aggfunc='mean')
Platform = Platform.round(2)
Platform

platform     Retail  Shopify
year_number
18            42.91   188.29
19            41.97   177.58
20            40.65   174.89