## Challenge
In this lab, the objective is to identify the customers who were active in both May and June, 
and how did their activity differ between months. To achieve this, follow these steps:

1. Establish a connection between Python and the Sakila database.

2. Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame. The function should take in three parameters:
* engine: an object representing the database connection engine to be used to establish a connection to the Sakila database.
* month: an integer representing the month for which rental data is to be retrieved.
* year: an integer representing the year for which rental data is to be retrieved.

The function should execute a SQL query to retrieve the rental data for the specified month and year from the rental table in the Sakila database, and return it as a pandas DataFrame.

3. Develop a Python function called rental_count_month that takes the DataFrame provided by rentals_month as input along with the month and year and returns a new DataFrame containing the number of rentals made by each customer_id during the selected month and year.

The function should also include the month and year as parameters and use them to name the new column according to the month and year, for example, if the input month is 05 and the year is 2005, the column name should be "rentals_05_2005".

Hint: Consider making use of pandas groupby()

4. Create a Python function called compare_rentals that takes two DataFrames as input containing the number of rentals made by each customer in different months and years. The function should return a combined DataFrame with a new 'difference' column, which is the difference between the number of rentals in the two months.

In [1]:
import pandas as pd
import numpy as np

import pymysql                        # for getting data from a SQL database
from sqlalchemy import create_engine  # for establishing the connection and authentication

from getpass import getpass  # To get the password without showing the input

### Lab SQL-Python | 1

In [2]:
# 1. Establish a connection between Python and the Sakila database.

In [3]:
password = getpass()

········

In [4]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/data_bank'
engine = create_engine(connection_string)

In [5]:
type(engine)

sqlalchemy.engine.base.Engine

### Lab SQL-Python | 2

In [6]:
# 2. Write a Python function called rentals_month that retrieves rental data for a given month 
# and year (passed as parameters) from the Sakila database as a Pandas DataFrame. 
# The function should take in three parameters:
# * engine: an object representing the database connection engine to be used to establish a connection to the Sakila database.
# * month: an integer representing the month for which rental data is to be retrieved.
# * year: an integer representing the year for which rental data is to be retrieved.

In [8]:
def rentals_month(engine):

    # database connection
    connection = engine.connect()

    # SQL query
    query = f"""
    SELECT * 
    FROM data_bank.customer_nodes
    """

    # Execute the SQL query and fetch the results into a Pandas DataFrame
    rental_data = pd.read_sql(query, connection)

    return rental_data

In [9]:
rental_data = rentals_month(engine)
rental_data.head()

   customer_id  region_id  node_id  start_date    end_date
0            1          3        4  2020-01-02  2020-01-03
1            2          3        5  2020-01-03  2020-01-17
2            3          5        4  2020-01-27  2020-02-18
3            4          5        4  2020-01-07  2020-01-19
4            5          3        3  2020-01-15  2020-01-23

### Lab SQL-Python | 3

In [ ]:
# 3. Develop a Python function called rental_count_month that takes the DataFrame provided by 
# rentals_month as input along with the month and year 
# and returns a new DataFrame containing the number of rentals made by each customer_id 
# during the selected month and year.

In [ ]:
def rental_count_month(rentals_month, month, year):
    
    # Filter the DataFrame based on the selected month and year
    filtered_rentals = rentals_month(engine, month, year)
    
    # Group the filtered DataFrame by customer_id and count the number of rentals for each customer
    rentals_count = filtered_rentals.groupby('customer_id')['rental_id'].count().reset_index()
    
    return rentals_count

In [ ]:
# 24/05/2005 to 14/02/2006
month2 = '06'
year2 = '05'
rentals_count=rental_count_month(rentals_month, month, year)
rentals_count.head()

### Lab SQL-Python | 4

In [ ]:
# 4. Create a Python function called compare_rentals that takes two DataFrames as input containing
# the number of rentals made by each customer in different months and years.
# The function should return a combined DataFrame with a new 'difference' column, 
# which is the difference between the number of rentals in the two months.

In [ ]:
def compare_rentals(df1, df2):
    
    # add a new column with month/year to df1
    month_year1= f"{month1} {year1}"
    df1['month_year'] = month_year1
        
    # add a new column with month/year to df2
    month_year2=f"{month2} {year2}"
    df2['month_year'] = month_year2
    
    # Merge the two DataFrames on 'customer_id' to combine the rental counts
    combined_df = pd.concat([df1, df2], axis=0)

    # Rename the columns for clarity
    pivoted_df = combined_df.pivot(index='customer_id', columns='month_year', values='rental_id').reset_index()

    # Fill NaN values in 'month_year1' and 'month_year2' with 0
    pivoted_df[month_year1].fillna(0, inplace=True)
    pivoted_df[month_year2].fillna(0, inplace=True)    
    
    # Calculate the difference between the two months
    pivoted_df['Difference'] = pivoted_df[month_year2] - pivoted_df[month_year1]
    
    pivoted_df['Difference'] = pivoted_df['Difference'].astype(int)
    pivoted_df[month_year1] = pivoted_df[month_year1].astype(int)
    pivoted_df[month_year2] = pivoted_df[month_year2].astype(int)
    
    return pivoted_df

In [ ]:
# 24/05/2005 to 14/02/2006
month1 = '06'
year1 = '05'
df1=rental_count_month(rentals_month, month1, year1)

In [ ]:
# 24/05/2005 to 14/02/2006
month2 = '07'
year2 = '05'
df2=rental_count_month(rentals_month, month2, year2)

In [ ]:
df3=compare_rentals(df1, df2)
df3.head(10)